name: Tests

on:
  push:
    branches:
      - dev
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install

      - name: Run Tests (Linux)
        if: runner.os == 'Linux'
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm test

      - name: Run Tests (macOS/Windows)
        if: runner.os != 'Linux'
        run: npm test
